<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafael Guedes</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="container">
		<div class="topo">
	        <div class="top-bar">
	            <div class="social-media">
	                <img src="../media/instagram.png" alt="Instagram" width="20" height="20"> @ENGINEER_TECH</a>
	            </div>
	            <div class="contact">
	                <img src="../media/telefone.png" alt="Telefone" width="20" height="20"> 149980-2321</a>
	                <img src="../media/linkedin.png" alt="LinkedIn" width="20" height="20"> ENGINEER_TECH</a>
	            </div>
	        </div>

	        <nav>
	            <ul>
	                <li><a href="../index.html">Home</a></li>
	                <li><a href="sobre.html">Sobre</a></li>
	                <li><a href="projetos.html">Projetos</a></li>
	                <li><a href="servicos.html">Serviços</a></li>
	                <li><a href="opinioes.html">Opiniões</a></li>
	            </ul>
	        </nav>
		</div>

		<div class="corpo">
			<h1 class="h1-sobre">Sobre Rafael..</h1>
			<div class="conteudo-sobre">
		        <p class="p-sobre">Rafael Guedes é um engenheiro especializado em engenharia civil, com mais de 10 anos de experiência na indústria. Formado em Harvard, com especializações em engenharia estrutural, Rafael tem se destacado no desenvolvimento de soluções inovadoras que integram tecnologia e eficiência para diversos setores, incluindo a área de Projetos de Edifícios.</p>
		        <img class="foto-rafael" src="../media/engenheiro.jpeg" alt="" width="720" height="550">
			</div>
		</div>
	</div>
</body>
</html>
